body { font-family:Arial, Helvetica, sans-serif;
       margin:25px auto 0 auto;
       width:810px;
}
div.toc { position:relative; }
div.toc::after { content:"";
                 position:absolute;
                 bottom:0;
                 left:200px;
                 width:100px;
                 height:100px;
                 background:url(prp.png) no-repeat top right;
                 background-size:contain;
}
.programlisting { background-color:#d0d0d0;
                  border-style:dotted;
                  border-width:2px;
                  font-family:Courier, monospace;
                  font-size:15px;
                  padding:2.5px;
}
.pubdate { font-size:small;
           font-style:italic;
}
