body { font-family:Arial, Helvetica, sans-serif;
       margin:auto;
       width:800px;
}
.programlisting { background-color:#d0d0d0;
                  border-style:dotted;
                  border-width:2px;
                  font-family:Courier, monospace;
                  font-size:15px;
                  padding:2.5px;
}
